# Android
*.class
*.log
*.apk
*.aab
*.ap_
*.dex

# Gradle
.gradle/
build/
**/build/

# Local configs
local.properties
*.properties

# IDE - Android Studio / IntelliJ
.idea/
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*.iws
*.ipr
captures/
.externalNativeBuild/
.cxx/

# Kotlin
.kotlin/

# OS
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
Thumbs.db
