# Android
*.class
*.log
*.apk
*.aab
*.ap_
*.dex

# Gradle
.gradle/
build/
**/build/

# Local configs
local.properties
*.properties

# IDE - Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr
captures/
.externalNativeBuild/
.cxx/

# Kotlin
.kotlin/

# OS
.DS_Store
Thumbs.db
